body{
  font-family: 'Futura Std Medium';
  background-color: $background-color;
  background-color: $white;
  background-image: url(../../assets/img/fondo.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

}

::-webkit-scrollbar  {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track{
  border-radius: 11px;
  background-color: white;
}

  /* Handle */
::-webkit-scrollbar-thumb{
  border-radius: 11px;
  background-color: #b8babb;
}